.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
  grid-gap: var(--spacing-half);
}

.cards > ul > li {
  border: 1px solid var(--dark-color);
  background-color: var(--background-color);
  position: relative;
}

.cards > ul > li.clickable {
  cursor: pointer;
}

.cards .cards-card-image {
  position: relative;
  line-height: 0;
}

.cards .cards-card-image p {
  margin: 0;
}

.cards .cards-card-image > p > a {
  width: 100%;
  display: block;
  padding: 5px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  line-height: var(--body-line-height-m);
  color: var(--color-white);
  background-color: var(--color-red);
}

.cards .cards-card-body {
  padding: var(--spacing-simple) var(--spacing-simple) 0;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards .cards-card-body h2 {
  text-align: center;
}

.cards > ul > li .cards-card-body .image-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.cards > ul > li .cards-card-body .image-wrapper p {
  margin-bottom: 0;
}

.cards > ul > li .cards-card-image img {
  width: 100%;
  object-fit: cover;
}

.cards.teaser > ul > li {
  border: none;
  border-radius: var(--card-border-radius);
  position: relative;
  background-color: var(--color-gray-light);
  overflow: hidden;
}

.cards.teaser > ul > li .cards-card-image img {
  aspect-ratio: auto;
  object-fit: contain;
}

.cards.teaser > ul > li .cards-card-image:nth-of-type(2) {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  top: var(--spacing-simple);
}

.cards.teaser > ul > li .cards-card-image:nth-of-type(2) img {
  max-width: 250px;
}

.cards > ul > li > .cards-card-body > .button-container {
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.cards.teaser > ul > li > .cards-card-body > .button-container {
  text-align: center;
}

.cards.third-width > ul,
.cards.half-width > ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
  grid-gap: var(--spacing-simple);
}

.cards.half-width > ul {
  grid-template-columns: 1fr 1fr;
}

@media (width > 600px) {
  .cards > ul > li > .cards-card-body > .button-container {
    position: absolute;
  }

  .cards > ul > li {
    position: relative;
    padding-bottom: 130px;
  }
}
