.brand-teaser {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.brand-teaser > ul {
    max-width: 1200px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
}

.brand-teaser > ul > li {
    background-color: var(--background-color);
    position: relative;
    overflow: hidden;
}

.brand-teaser-image {
    width: 100vw;
}

.brand-teaser-header {
    position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;
    color: var(--text-color-reverse);
    font-weight: bold;
}

.brands-container .brand-row {
    background-color: var(--background-color);
    font-size: var(--body-font-size-xs);
    text-align: center;
}

.brands-container .brand-row:nth-child(2n) {
    background-color: var(--light-color);
}

.brand-teaser > ul > li > h2 {
    transition: all 0.5s ease-in-out;
    top: 20%;
    font-size: var(--heading-font-size-m);
}

.brand-teaser > ul > li > .brands-container {
    position: relative;
    transform: translateY(0);
}

.brand-teaser > ul > li > .brands-container img {
    width: 20%;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    display: block;
    margin: auto auto 10px;
}

.brand-teaser > ul > li > .brands-container p {
    width: 100%;
    display: block;
}

.brand-teaser > ul > li > .brands-container .link-container {
    width: 100%;
    margin-top: 10px;
}

.link-container > a {
    display: block;
}

.brand-teaser > ul > li > .brands-container .link-container a {
    display: inline-block;
    left: 10%;
    bottom: 0;
}

.link-container > .info-link {
    color: var(--text-color);
    text-decoration: underline;
    padding-right: 20px;
}

.brand-teaser > ul > li > .brands-container .link-container a:nth-child(2n) {
    display: inline-block;
    right: 10%;
    left: auto;
}

@media (width >= 600px) {
    .brand-teaser > ul > li > .brands-container p {
        width: 50%;
        display: inline-block;
        margin: 0;
    }

    .brand-teaser > ul > li > .brands-container img {
        display: inline-block;
    }

    .brand-teaser > ul > li > .brands-container .link-container {
        display: inline-block;
        width: 20%;
    }

    .brand-teaser > ul > li > .brands-container .link-container a {
        display: block;
        position: unset;
    }

    .link-container > .info-link {
        color: var(--text-color);
        text-decoration: underline;
        padding-right: 0;
    }
}

@media (width >= 900px) {
    .brand-teaser > ul {
        max-width: 1200px;
        list-style: none;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        text-align: center;
    }

    .brand-teaser > ul > li > .brands-container {
        transition: all 0.5s ease-in-out;
        position: absolute;
        z-index: 1;
        bottom: 0;
        width: 100%;
        transform: translateY(100%);
    }

    .brand-teaser > ul > li:hover > .brands-container {
        transform: translateY(0);
    }

    .brand-teaser > ul > li:hover > h2 {
        transform: translateY(-70px);
        font-size: var(--heading-font-size-m);
    }
}
