.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

/* Columns USP */
.columns.usp span.icon {
  box-sizing: border-box;
  width: 85px;
  height: 85px;
  padding: 15px 20px 20px;
  background: var(--color-red);
  border-radius: 50%;
}

.columns.usp > div:first-child p strong {
  font-size: var(--heading-font-size-m);
  line-height: var(--heading-line-height-m);
}

/* styling desktop */
@media (width >= 900px) {
  .columns > div {
    align-items: start;
    flex-direction: unset;
    gap: var(--spacing-simple);
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
