.info-teaser > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
  grid-gap: 16px;
}

.info-teaser > ul > li {
  border: 1px solid var(--dark-color);
  background-color: var(--background-color);
  box-shadow: 0 1px 6px rgb(48 48 48 / 50%);
}

.info-teaser .info-teaser-card-body {
  margin: 16px;
}

.info-teaser .info-teaser-card-image {
  line-height: 0;
}

.info-teaser .info-teaser-card-body > *:first-child {
  margin-top: 0;
}

.info-teaser > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
