.language {
  cursor: pointer;

  img {
    width: 32px;
    height: 20px;
    padding-right: 5px;
  }

  p {
    display: inline-block;
    margin: 0;
  }

  .language-list {
    background-color: var(--background-color);
    margin: 0;
    padding: 5px 20px 5px 10px;
    position: fixed;

    li {
      list-style-type: none;
    }
  }
}
