footer {
  font-size: var(--body-font-size-s);
}

footer .section {
  padding: var(--spacing-simple);
}

footer .section > div {
  max-width: var(--page-width);
  margin: auto;
}

footer .footer h4 {
  margin-bottom: var(--spacing-simple);
}

footer .footer p {
  margin: 0;
}

footer .footer p a {
  display: inline-block;
  text-decoration: none;
}

footer .footer p a:any-link {
  color: inherit;
}

footer .footer p a:hover {
  text-decoration: underline;
}

/* light gray footer */
footer .section .columns > div > div {
  padding-bottom: var(--spacing-simple);
}

/* dark footer */
footer .section:nth-child(3) {
  padding-top: var(--spacing-simple);
  padding-bottom: var(--spacing-simple);
  color: var(--color-white);
  text-align: center;
}

footer .section:nth-child(3) p {
  margin-bottom: 20px;
}

footer .section:nth-child(3) p a {
  font-weight: var(--font-weight-bold);
  color: var(--color-white);
}

/* social media */
footer .section:nth-child(2) {
  padding-top: var(--spacing-half);
  text-align: center;
}

footer .section:nth-child(2) > div p {
  display: inline-block;
  margin-right: var(--spacing-half);
}

footer .section:nth-child(2) > div p:last-child {
  margin-right: 0;
}

footer .section:nth-child(2) span.icon {
  box-sizing: border-box;
  width: 35px;
  height: 35px;
}

/* styling desktop */
@media (width >= 900px) {
  footer .section {
    padding-top: var(--spacing-double);
  }

  footer .section:nth-child(3) > div {
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
  }

  footer .section:nth-child(3) > div p:first-of-type {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    align-self: center;
  }

  footer .section:nth-child(3) > div p:nth-child(2),
  footer .section:nth-child(3) > div p:nth-child(3) {
    padding: 0 var(--spacing-simple);
  }

  footer .section:nth-child(3) > div p:last-of-type {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    align-self: center;
  }
}
