/* stylelint-disable max-line-length */
@font-face {
  font-family: roboto;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../fonts/roboto-black.woff2') format('woff2');
}

@font-face {
  font-family: roboto;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/roboto-bold.woff2') format('woff2');
}

@font-face {
  font-family: roboto;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/roboto-regular.woff2') format('woff2');
}
